.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg-navbar{
  background-color: midnightblue;
}
#navBarSearchForm{
  width:300px
}
.cursorh{
  cursor: pointer;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.sticky{
  position: sticky
}
.b {
  line-height: 1.6;
}
.left{
  display: block;
  left: 0px;
  margin-right: auto;
}
.topm{
  margin-top: 7%;
  color: white;
}
.cbt{
  display: none
}
.lefttext{
  margin-left: 20px;
  text-align: left;
}
.textB{
  color: black;
}
.tittle {
  font-family: 'Brush Script MT', cursive;
}
.wordleb{
  width:10px;
  background-color:#d8e3e2;
  display:inline;
  cursor: pointer;
  font-size: 175%;
}
.box {
  width: 30px;
  border: 2px solid black;
  padding: 5px;
}
.keyspace{
  content: 'A';
  display: block;
  margin-bottom: 25px;
}
.ebox {
  width: 30px;
  height:50px ;
  border: 2px solid black;
  padding: 5px;
}
.hoverc{
  cursor: pointer;
}
.ndisplay{
  display: none;
}
.indisplay{
  display: inline;
}
.mlcontent{
  margin-left: 430px;
}
.mrcontent{
  text-align: left;
  margin-right: 500px;
}